/* CUSTOM STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: #5a5a5a;
}

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}

/* Featurettes
------------------------- */

.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* BOOTSTRAP CORE CUSTOM
------------------------- */

.nav-link {
  margin-right: 20px;
}

.display-6 {
  text-align: center;
}


.caption-text{ 
  color: black;
}
